{% include 'header.html' %}

{% with messages= get_flashed_messages()%}

{% if messages %}
    <div class="alert alert-danger" role="alert">
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    </div>
{% endif %}

{% endwith %}
<br>
<form method="post" action="/store" enctype="multipart/form-data">
    
    <div class="card">
        <div class="card-header" class="thead-dark">
            Ingreso de empleado
        </div>
        <div class="card-body">
            <h5 class="card-title">Información del empleado</h5>
            <p class="card-text">

                <div class="form-group">
                    <label for="txtName">Nombre:</label>
                    <input id="txtName" class="form-control" type="text" name="txtName">
                </div>
                <div class="form-group">
                    <label for="txtMail">Correo:</label>
                    <input id="txtMail" class="form-control" type="text" name="txtMail">
                </div>
                <div class="form-group">
                    <label for="txtPic">Foto:</label> 
                    <br>
                    <input id="txtPic" type="file" name="txtPic">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success btn-sm" value="Agregar">
                    <a href="{{url_for('index')}}" class="btn btn-primary btn-sm">Regresar</a>
                </div>
                


            </p>
        </div>
    </div>    
    
</form>
{% include 'footer.html' %}