{% include 'header.html' %}
<br>
{% for empleado in empleados %}
<form method="post" action="/update" enctype="multipart/form-data">
   
    <div class="card">
        <div class="card-header">
            Edidión de empleado
        </div>
        <div class="card-body">
            <h5 class="card-title">Información del empleado</h5>
            <p class="card-text">

                <input type="hidden" value="{{ empleado[0] }}" name="txtID" id="txtID">

                <div class="form-group">
                    <label for="txtName">Nombre:</label>
                    <input id="txtName" value="{{ empleado[1] }}" class="form-control" type="text" name="txtName">
                </div>

                <div class="form-group">
                    <label for="txtMail">Correo:</label>
                    <input id="txtMail" value="{{ empleado[2] }}" class="form-control" type="text" name="txtMail">
                </div>

                <div class="form-group">
                    <label for="txtPic">Foto:</label>

                    <img class="img-thumbnail" width="100" src="{{ url_for('uploads',namePic=empleado[3]) }}" alt="">
                    <br>
                    <input id="txtPic" type="file" name="txtPic">
                </div>
             
                <div class="form-group">
                    <input type="submit" class="btn btn-success btn-sm" value="Modificar">
                    <a href="{{url_for('index')}}" class="btn btn-primary btn-sm">Regresar</a>
               
                </div>
            


            </p>
        </div>
    </div>
    
</form>

{% endfor %}
{% include 'footer.html' %}