    {% include 'header.html' %}
    <br/>
    <a href="{{url_for('create')}}" class="btn btn-primary">

        Ingresar nuevo empleado

    </a>
    <br>
    <br>

    <table class="table table-light">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Foto</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for empleado in empleados %}
            <tr>
                <td>{{empleado[0] }}</td>

                <td>
                    <img class="img-thumbnail" width="100" src="uploads/{{empleado[3] }}" alt="">
                    
                </td>

                <td>{{empleado[1] }}</td>
                <td>{{empleado[2] }}</td>
                <td> <a class="btn btn-info btn-sm" href="/edit/{{empleado[0] }}">Editar</a> |
                    <a onclick="return confirm('¿Desea borrar este resgritro?')" class="btn btn-danger btn-sm" href="/destroy/{{empleado[0] }}">Eliminar</a> 
                </td>
            </tr>        
            {% endfor %}        
        </tbody>
    </table>

    {% include 'footer.html' %}